configuration {
	modes: "window,drun,run,ssh,filebrowser";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      directory:		 "/home/sergio";
      sorting-method:   	 "name";
      command:			 "xdg-open";
      show-hidden:		 true;
  }
}

@theme "/home/sergio/.config/rofi/launchpad.rasi"
@import "~/.cache/wal/colors-rofi-light"
